<div class="brand-area brand-area2 brand-blog">
    <div class="container">
        <div class="row">
            <div class="brand-slider-wrapper">
                <div class="active-brand-owl def-owl">
                    <div class="col-md-2">
                        <div class="brand-image">
                            <img src="images/brand/mb1.jpg" alt="Domino" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="brand-image">
                            <img src="images/brand/mb2.jpg" alt="Domino" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="brand-image">
                            <img src="images/brand/mb3.jpg" alt="Domino" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="brand-image">
                            <img src="images/brand/mb4.jpg" alt="Domino" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="brand-image">
                            <img src="images/brand/mb5.jpg" alt="Domino" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="brand-image">
                            <img src="images/brand/mb6.jpg" alt="Domino" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>