<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog || Domino</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://devitems.com/html/raptas-preview/raptas/img/favicon.png" />
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <!-- Bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="~/AppStyle/css/bootstrap.min.css">
    <!-- Animate css -->
    <link rel="stylesheet" href="~/AppStyle/css/animate.css">
    <!-- jQuery-ui.min css -->
    <link rel="stylesheet" href="~/AppStyle/css/jquery-ui.min.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="~/AppStyle/css/owl.carousel.css">
    <!-- Font-awesome css -->
    <link rel="stylesheet" href="~/AppStyle/css/font-awesome.min.css">
    <!-- Material design iconic css -->
    <link rel="stylesheet" href="~/AppStyle/css/material-design-iconic-font.min.css">
    <!-- Nivo Slider css -->
    <link rel="stylesheet" href="~/AppStyle/css/nivo-slider.css" />
    <!--Slider css -->
    <link rel="stylesheet" href="~/AppStyle/css/slider.css" />
    <!-- Default css -->
    <link rel="stylesheet" href="~/AppStyle/css/default.css">
    <!-- Mean menu css -->
    <link rel="stylesheet" href="~/AppStyle/css/meanmenu.css">
    <!-- Main style css -->
    <link rel="stylesheet" href="~/AppStyle/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/AppStyle/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/AppStyle/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

@Html.Partial("Partials/_Navigation");

@RenderBody()

@Html.Partial("Partials/_Brand");

<!--Brand slider area css end-->
@Html.Partial("Partials/_Footer");
<!--Footer bottom area end-->

<!-- all js here -->
<!-- jquery latest version -->
<script src="~/AppStyle/js/vendor/jquery-1.12.0.min.js"></script>
<!-- bootstrap js -->
<script src="~/AppStyle/js/bootstrap.min.js"></script>
<!-- owl.carousel js -->
<script src="~/AppStyle/js/owl.carousel.min.js"></script>
<!-- meanmenu js -->
<script src="~/AppStyle/js/jquery.meanmenu.js"></script>
<!-- jquery-ui js -->
<script src="~/AppStyle/js/jquery-ui.min.js"></script>
<!-- wow js -->
<script src="~/AppStyle/js/wow.min.js"></script>
<!-- plugins js -->
<script src="~/AppStyle/js/plugins.js"></script>
<!-- fancybox js -->
<script src="~/AppStyle/js/jquery.fancybox.js"></script>
<!-- nivo slider pack js -->
<script src="~/AppStyle/js/slider/jquery.nivo.slider.pack.js"></script>
<!-- counter up js -->
<script src="~/AppStyle/js/jquery.counterup.min.js"></script>
<!-- Nivo active js -->
<script src="~/AppStyle/js/slider/nivo-active.js"></script>
<!-- Treeview js -->
<script src="~/AppStyle/js/jquery.treeview.js"></script>
<!-- mixit up js -->
<script src="~/AppStyle/js/mixitup.min.js"></script>
<!-- main js -->
<script src="~/AppStyle/js/main.js"></script>

</body>

</html>